    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Poppins:wght@300&family=Sacramento&display=swap');

    body {
        background: linear-gradient(#2b5876, #4e4376);
    }

    /* .container {
        height: 100vh;
        width: 100vw;
    } */


    input[type="text"] {
        width: 80%;
        padding: 8px;
        text-transform: uppercase;
        display: block;
        margin: 0 auto;
    }

    .temperature {
        text-align: center;
        font-size: 4.5rem;
        font-family: 'Poppins', "Times New Roman", Times, serif;
    }

    .cityname {
        text-align: center;
        font-size: 3rem;
        font-family: 'Montserrat', "Times New Roman", Times, serif;
        font-weight: bolder;
    }

    .condition {
        text-align: center;
        font-size: 3rem !important;
        font-family: 'Poppins', "Times New Roman", Times, serif;
    }

    /* .col-md-6, .row {
        border: 2px solid red;
    } */

    #row {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card {
        margin-top: 20px;
    }

    #btn {
        display: block;
        margin: 10px auto;
    }